!!! 5
%html
  %head
    %script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    %script(type = 'text/javascript' src='/assets/sbn_chat.js')
    %link(rel = 'stylesheet' type = 'text/css' href='/assets/sbn_chat.css')
  %body(ng-app = 'SbnChat')
    .chat-window(ng-controller = 'ChatCtrl')

